.parent {
  background-color: #f8d1e0;
  padding-bottom: 25px;
  .icons {
    display: flex;
  }
  .child {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    .subChild {
      display: flex;
    }
  }
}
.content {
  background-color: #f7f9fe;
  border-radius: 20px;
  padding: 27px 25px;
}
